page-invoice {

    .g-wrapper-general {
        .item-header {
            // background-color: #333;
            text-align: left;
            font-size: 25;
            font-weight: bold;
            line-height: 50px;
            color: $mainColor;
            margin-left: -10px; 
        }
    }
    

}
