// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.g-heading-1 {
    font-weight: bold;
    font-size: 23px;
}

.g-heading-2 {
    font-weight: bold;
    font-size: 17px;
}

.g-heading-3 {
    font-weight: bold;
    font-size: 15px;
}

.g-text {
    font-size: 15px;
}

.g-caption {
    font-size: 13px;
}

.g-small {
    font-size: 12px;
}

.g-very-small {
    font-size: 10px;
}

.g-bold {
    font-weight: bold;
}

//wrappers
.g-wrapper-general {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    min-height: 100%;
}

.g-wrapper-bottom {
    height: 55px;
}

.g-wrapper-space-between {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    flex: 1;
    padding: 0px 10vw;
}

.g-wrapper-row-space-between {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex: 1;
    padding: 0px 10vw;
}


.g-wrapper-space-around {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    flex: 1;
    padding: 0px 10vw;
}


.g-wrapper-column-space-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.g-wrapper-column-flex-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.g-wrapper-row-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.g-wrapper-row-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.g-wrapper-row-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}




.single-line {
    height: 1px;
    background-color: $ebony;
}

.single-line-vertical {
    width: 1px;
    background-color: $ebony;
}

//end of wrappers
//general ionic controls
//toolbar
.toolbar-title {
    @extend .g-heading-3;
}

.toolbar-title-md {
    text-align: center;
}

.toolbar-ios ion-title,
.toolbar-md ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
}

//form
form {
    min-width: 100%;
    ion-item {
        padding-left: 0px !important;
        .item-inner {
            border-bottom-color: $linkWater !important;
            ion-label {
                @extend .g-small;
                font-weight: bold;
                text-transform: capitalize;
                color: $rockBlue;
            }
        }
    }
}

ion-input {
    color: $ebony;
}

input {
    @extend .g-text;
}

ion-modal {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

//Button
.button-outline {
    color: $white;
    background-color: $mainColor;
    height: 100%;
    margin: 0px;
    border: 0px;
    border-radius: 0;
    @extend .g-heading-2;
}

.button-outline.activated {
    background-color: $mainColor;
}

//hide back button text in navbar
.back-button-text {
    display: none !important;
}

//swiper
button.swiper-pagination-bullet {
    border: 1px solid $ebony;
    background: $white;
    width: 7px;
    height: 7px;
}

button.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: $ebony;
}

//ion tabs
ion-tabs {
    div.tabbar {
        border-top-color: rgba(0, 0, 0, .1) !important;
    }
    a {
        font-weight: bold;
        text-transform: uppercase;
    }
}


@mixin icon-standard {
    margin-top: 0px !important;
    width: 25px !important;
    min-width: 25px !important;
    height: 25px !important;
}